<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autenticação Udemy</title>
</head>
<body>
    <div class="col-12 col-xl-8 mb-4">
        <div class="card border shadow-xs h-100">
          <div class="card-header pb-0 p-3">
            <h6 class="mb-0 font-weight-semibold text-lg">Autenticação Udemy</h6>
          </div>
          <div class="card-body p-3">
            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-dark mt-3">Obter Token da Udemy</button>
            </form>
          </div>
        </div>
      </div>
</body>
</html>