{% load static %}
{% load custom_filters %}

<nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
    <div class="container">  
      <a class="navbar-brand" href="{% url 'index' %}"><img  src="{% static 'assets_2/img/maple_bear.svg' %}" alt="" style="max-height: 40px;">  Maple Bear</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#slider-area">Home</a>
          </li>
          {% if user.is_authenticated %}
                

          {% if user|has_group:"Adm" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'controle_escolas' %}">Controle Escolas</a>
              </div>
          </li>
          {% endif %}
          {% if user|has_group:"Glex" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Glex</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'home_glex' %}">Home Glex</a>
                  <a class="nav-link" href="{% url 'table_forms_glex' %}">Formulários</a>
              </div>
          </li>
          {% endif %}

          {% if user|has_group:"Planificador" %}
          <li class="nav-item dropdown">
              <a class="nav-link page-scroll nav-link-ded dropdown-toggle" id="dropdownContratos" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Planificador</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px;">
                  <a class="nav-link" href="{% url 'buscar_escolas' %}">Buscar Escolas</a>
              </div>
          </li>
          {% endif %}


          
          <li class="nav-item">
              <a class="nav-link page-scroll" href="#">Sair</a>
          </li>
          {% endif %}

        </ul>              
      </div>
    </div>
  </nav> 