{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>Maple Bear</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets_2/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/nivo-lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/color-switcher.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/menu_sideslide.css' %}">
    <link rel="stylesheet" href="{% static 'assets_2/css/main.css' %}"> 
    <link rel="stylesheet" href="{% static 'assets_2/css/responsive.css' %}">
    <link id="pagestyle" href="{% static 'css/upload_files.css' %}" rel="stylesheet" />
    <link rel="icon" type="image/png" href="{% static 'assets_2/img/maple_bear.svg' %}">
  </head>
  
  <body>
    <!-- Header Section Start -->
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="excel_file">
      <button type="submit">Importar</button>
  </form>
  
  </body>
</html>